@{
    ViewBag.Title = "About";
}


<div style="padding-top:100px; padding-left:100px">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>