@{
    ViewBag.Title = "Contact";
}


<div style="padding-top:100px; padding-left:100px">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>


    <div>
        <p>
            @Html.ActionLink("Click here if you want to send an email", "Email")
        </p>
        <p>
            <a href="http://localhost:57836/Chat/Index">Click here if you want to use the chat application</a>
        </p>
    </div>

</div>
