@{
    ViewBag.Title = "Contact";
}


<div style="padding-top:100px; padding-left:100px">
  


    <address>
         536 Atlantic St, Bridgeport<br />
         Connecticut<br />
        <abbr title="Phone">P:</abbr>
        3478404233
    </address>




    <div>
        <p>
            @Html.ActionLink("Click here if you want to send an email", "Email")
        </p>
        <p>
            <a href="http://localhost:57836/Chat/Index">Click here if you want to use the chat application</a>
        </p>
    </div>

</div>
