
@{
    ViewBag.Title = "Ero";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="padding-left:80px; padding-top:100px">
    <h2>Error!! You need to sign in for accessing the Email Facilities</h2>

</body>