@{
    ViewBag.Title = "Home Page";
}


<head>

    <style>
        footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
            
    </style>
</head>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" style="height: 640px" ;>
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            <img src="~/Images/6.jpg" alt="Flower" style="width:100%">
            <div class="carousel-caption">
                <h3>Man city fan hit out a ticket Rise</h3>
                <h4>The leading Manchester City supporters' group has hit out at the club for raising season ticket prices for the 2017-18 campaign.</h4>
            </div>
        </div>

        <div class="item">
            <img src="~/Images/9.jpg" alt="Flower" style="width:100%;padding-bottom:100px">
            <div class="carousel-caption">
                <h3>Champions of the Champions 2016</h3>
                <h4>Real Madrid set out for the winning the Champions Leauge Final for the 11 times</h4>
            </div>
        </div>
     
        <div class="item">
            <img src="~/Images/7.jpg" alt="Flower" style="width:100%;padding-bottom:100px">
            <div class="carousel-caption">
                <h3>Messi, 'the best of all time' claims Suarez </h3>
                <h4>Messi struck twice, including the 500th goal of his Barca career, to give Luis Enrique's side a last-gasp 3-2 win over 10-man Real</h4>
            </div>
        </div>

        <div class="item">
            <img src="~/Images/10.jpg" alt="Chania" style="width:100%">
            <div class="carousel-caption">
                <h3>Chelsea VS Barcelona</h3>
                <h4>Cristiano Ronaldo blows Rivals away with hat-trick</h4>
            </div>
        </div>

        <div class="item">
            <img src="~/Images/11.jpg" alt="Chania" style="width:100%">
            <div class="carousel-caption">
                <h3>Best Dream Players</h3>
                <h4>Four players of the Real Madrid team got selected for the best team.</h4>
            </div>
        </div>

        
       

        <div class="item">
            <img src="~/Images/2.jpg" alt="Chania" style="width:100%" class="fill">
            <div class="carousel-caption">
                <h2>Chelsea</h2>
                <p>Chelsea give club deadline to complete midfielder transfer</p>
            </div>
        </div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>


<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Magic's Serge Ibaka appears in play as trade deadline approaches    </h3>
                <p>
                    There's a growing sense around the league ‎that Ibaka could be on the move again as the league's Feb. 23 trade deadline draws near.

                    The Thunder shook up the 2016 NBA draft when, just days before Durant's free agency, they dealt Ibaka to the Magic.  <a href="http://getbootstrap.com/customize/">Watch more here</a>!
                </p>
            </div>

            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Destination Romo: All the places Tony could go</h3>
                <p>Where will Tony Romo play in 2017? Here's a complete breakdown of the most probable teams and scenarios ... a full dozen. <a href="http://getbootstrap.com/customize/">Watch more here</a>!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Jerry Jones not looking forward to seeing Tony Romo in different uniform</h3>
                <p>Dallas Cowboys owner Jerry Jones said he hasn't considered the possibility of Tony Romo playing for another NFC team because he doesn't want to think about it.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    
</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container" style="background-color:darkgrey">

        <div class="row">
            <div class="col-lg-12">
                <h2>Champion League 2017    </h2>
                <a style="font-size:20px; color:darkred"href="">Four reasons why Juventus will lift the European trophy this season </a>
                <img class="img-responsive img-home-portfolio" src="~/Images/new.png">
                <p>Highly-eventful Champions League season has come down to four best clubs vying for the coveted big-eared trophy.<p />
                <p>The semi-final ties will see Monaco go head to head with Juventus, whereas the other half of the draw has pitted Madrid rivals Real and Atletico against each other in the replay of last season’s final showpiece.

And although the world is expected to focus all of the attention on La Liga derby in Europe’s elite club competition, it is the other clash that has been drawing most of attention. Rightfully so, we might add, as it is a duel of two great contrasts – of teams who both dazzled throughout the season with their formidable exploits.</p>
                <p>ILLUSTRATIONS BY BRIAN KONNICK</p>
                <a href="">Click here to watch more.... </a>
            </div>
            <hr>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-md-4 ">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="~/Images/PlayOFF.jpg">
                </a>
            </div>
            <div class="col-sm-4">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="~/Images/UEFA.jpg">
                </a>
            </div>
            <div class="col-sm-4 ">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="~/Images/NBA.jpg">
                </a>
            </div>
            <div class="col-sm-4">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio"  src="~/Images/epl.png">
                </a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="~/Images/Lacrosse.png">
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <a href="portfolio-item.html">
                        <img class="img-responsive img-home-portfolio" src="~/Images/hockey.png">
                    </a>
                </div>
         
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 style="margin-left:1em"> Recent Soccer Headlines</h2>
                <ul>
                    <li><a href="http://www.ronaldo7.net/news/news.html">sasuna 1-3 Real Madrid. Holding on to the lead</a></li>

                    <li><a href="http://www.ronaldo7.net/news/news.html">7 reasons for Real Madrid to be careful about Napoli</a></li>
                    <li><a href="http://www.ronaldo7.net/news/news.html">Ronaldo and Real Madrid's crisis: Keeping things in perspective</a></li>
                    <li><a href="http://www.ronaldo7.net/news/news.html">Real Madrid 3-0 Real Sociedad. A firm step in La Liga title fight</a></li>
                    <li><a href="http://www.ronaldo7.net/news/news.html">Celta Vigo 2-2 Real Madrid. «Adiós triplete!»</a></li>
                    <li><a href="http://www.ronaldo7.net/news/news.html">Real Madrid 2-1 Malaga. Ramos shows how it's done!</a></li>
                    <li><a href="http://www.ronaldo7.net/news/news.html">Club World Cup Final: Real Madrid vs Kashima Antlers Preview</a></li>
                    <li><a href="http://www.ronaldo7.net/news/news.html">Real Madrid 2-0 Club America. One win left for another title</a></li>
                    <li><a href="http://www.ronaldo7.net/news/news.html">Real Madrid 3-2 Deportivo. Ramos saves the day again!</a></li>
                </ul>
            </div>
            <h2>&nbsp;&nbsp;&nbsp;Champions League Final 2017</h2>   
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="~/Images/Final.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>



  
    <div>
        <footer >
            <div class="container" style="padding-left:30px">
                <div class="row">
                    <div class="col-md-4 col-sm-6 footerleft ">
                        <div class="logofooter"> Logo</div>
                        <p>Sports Media will posts the latest and recent news happening the world of Soccer.</p>
                        <p><i class="fa fa-map-pin"></i> 536 Atlantic St., Bridgeport CT, 06604</p>
                        <p><i class="fa fa-phone"></i> Phone (USA) : +347 840 4233</p>
                        <p><i class="fa fa-envelope"></i> E-mail : dlimbu@my.bridgeport.edu</p>

                    </div>
                    <div class="col-md-2 col-sm-6 paddingtop-bottom" >
                        <h6 class="heading7">GENERAL LINKS</h6>
                        <ul class="footer-ul" > 
                            <li><a href="https://localhost:44388/Home/EplLeague" > English Premier League Table</a></li>
                            <li><a href="https://localhost:44388/Home/SpanishLeague"> Spanish Primiera Division</a></li>
                            <li><a href="https://localhost:44388/Home/ItalyLeague"> Italian Serie A</a></li>
                            <li><a href="https://localhost:44388/Home/GermanLeague"> German Bundesliga</a></li>
                            <li><a href="http://localhost:57836/Chat/Index"> Chat Services</a></li>
                            <li><a href="http://localhost:6218/Home/Index"> Videos</a></li>
                     
                         
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6 paddingtop-bottom" style="padding-left:140px; width:500px">
                        <h6 class="heading7">LATEST POST</h6>
                        <div class="post">
                            <p>Watch the Higlights match of Real Madrid Vs Barcelona<span>April, 2017</span> <span> <a href="http://localhost:6218/Video/RealVSBarcelona">Click here to watch more...</a> </span></p>
                            
                            <p>Top 50 Goals of the season<span>April, 2017</span> <span> <a href="http://localhost:6218/Video/Top50Best">Click here to watch more...</a> </span></p>
                            <p>Newcastle Clinch for Promotions <span>March, 2017</span> <span> <a href="http://localhost:6218/Video/NecastlePromo">Click here to watch more...</a> </span></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 paddingtop-bottom" >
                        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                            <div class="fb-xfbml-parse-ignore">
                                <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--footer start from here-->
            <div class="copyright">
                <div class="container">
                    <div class="col-md-6">
                        <p>© 2017 - All Rights with DenilSportsMedia</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="bottom_ul">
                            <li><a href="http://localhost:6218/Home/Index">Video</a></li>
                            <li><a href="https://localhost:44388/Account/Register">Register</a></li>
                            <li><a href="https://localhost:44388/Account/Login">Log In</a></li>
                            <li><a href=""https://localhost:44388/Home/Email"">Send Email</a></li>
                            <li><a href="https://localhost:44388/Home/Contact">Contact us</a></li>
                            <li><a href="https://localhost:44388/Home/Contact">Chat Services</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /.container -->
    </div>

       
    
<!-- /.container -->

<!-- /.section-colored -->

